# Default ignored files
/shelf/
/workspace.xml
target/
*.class
*.iml
# Datasource local storage ignored files
/../../../../../../:\codes\spring-boot-master\shuaiti\shuati\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
